#d-canvas {
	cursor: text;
	margin: 0px;
	outline: none;
	position: relative;
	left: 0px;
	top: 0px;
}

#d-editor {
	width: 425px;
	height: 378px;
	padding: 0px;
	border: 1px solid blue;
    border-color: rgba(0,0,255,0.1);
	overflow: hidden;
	position: relative;
	outline: none;
}

#d-client {
	overflow: hidden;
	position: absolute;
	left: 0px;
	top: 0px;
}
#d-caret {
	position: absolute;
	display: block;
	width: 1px;
	background: transparent;
	left: 0px;
	top: 0px;
	padding: 0px;
	margin: 0px;
	outline: none;
	border: none;
	resize: none;
	/*
	 * important! overflow hidden in chrome
	 */
	overflow: hidden;
}
#d-rightscroll {
	position: absolute;
	width: 17px;
	height: 300px;
	left: 300px;
	top: 0px;
	overflow-x: hidden;
	overflow-y: scroll;
}
#d-rightscroll-body {
	height: 500px;
	width: 1px;
}
#d-bottomscroll {
	position: absolute;
	height: 23px;
	width: 400px;
	left: 0px;
	top: 350px;
	overflow-x: scroll;
	overflow-y: hidden;
}
#d-bottomscroll-body {
	width: 500px;
	height: 1px;
}